a,
a:visited,
a:hover {
    color: #fff;
    text-decoration: none;
}

.favorite-on {
    text-decoration: underline;
    color: #ff4081;
}

.favorite-off {
    text-decoration: none;
    color: initial;
}