.mat-card { margin-bottom: 15px; }

a, a.btn:link { color: white; }
a.btn:visited,
a.btn:hover,
a.btn:active,
a.btn:focus {
    color: #212529;
    background-color: #e2e6ea;
    border-color: #9b9b9b;
}

:host ::ng-deep .mat-card-footer { 
    display: flex; 
    flex-flow: row nowrap; 
    justify-content: space-between;
    align-items: flex-start;
    margin: 0;
}

/* Overriding material css */
:host ::ng-deep .mat-card-header-text {
    margin: 0!important;
}

