<mat-card-content>
    <p>{{ hike.description }}</p>     
</mat-card-content>
<mat-card-footer>
    <div>
        <p>Nombre de visites: {{ hike.visitsNumber }}</p>
        <div><mat-checkbox #c (change)="toggleHikeToFavourite(c.checked)" [ngClass]="{'favorite-on': c.checked, 'favorite-off': !c.checked}">Ajouter aux favoris</mat-checkbox></div>
    </div>
    <a id="summary_{{ hike.id }}" 
        [routerLink]="['/hikes', hike.id]" 
        title="Voir fiche détaillée" 
        class="btn btn-primary">+ Détails</a>
</mat-card-footer>

