<h3>Fiche détaillé de la randonnée</h3>
<div fxLayout="row wrap" fxLayoutAlign="left center" fxLayoutGap="15px">
    <mat-card *ngIf="hike$ | async; let hike">
        <mat-card-header>
            <mat-card-title>{{ hike.name }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>{{ hike.region }}</p>
            <p>{{ hike.area }}</p>
            <p>{{ hike.startingPoint }}</p>
            <p>{{ hike.distance +" "  +hike.distanceUnit }}</p>
            <p>{{ hike.description }}</p>
        </mat-card-content>
        <mat-card-footer fxLayout="row" fxLayoutAlign="space-between">
            <button mat-raised-button (click)="goBack()" color="accent">Retour</button>
            <button mat-raised-button (click)="goPrevious(hike.id)" color="primary">Suivant</button>
        </mat-card-footer>
    </mat-card>
</div>