<h3>Liste des randos disponibles</h3>
<div fxLayout="row" fxLayoutAlign="right" fxLayoutGap="15px" class="my-3">
    <span fxFlex="1 1 auto" class="text-right">Filtrer par: </span> 
    <input fxFlex="1 1 20%" 
    type="text" 
    placeholder="Affiner votre recherche" 
    class="form-control"
    [(ngModel)]="searchTerm">
</div>
<div id="hikeList" fxLayout="row wrap" fxLayoutAlign="left center">
    <mat-card fxFlex="100%" *ngFor="let hike of hikes | hikeFilter:searchTerm">
        <mat-card-header>
            <mat-card-title>{{ hike.name | uppercase }}</mat-card-title>
        </mat-card-header>
        <rando-hike-summary [h]="hike" (favouriteHikeEmitted)="addHikeToFavouriteOnEmit($event)"></rando-hike-summary>
    </mat-card>
</div>