<form 
    #contactForm="ngForm"
    novalidate
    fxLayout="column nowrap" 
    fxFlex="100%" 
    fxLayoutAlign="center center">
    <h3>Contact Us</h3>

    <!-- Sujet -->
    <mat-form-field>
        <input
            name="subject"
            #txtSubject="ngModel"
            required
            ngModel
            matInput
            placeholder="Sujet"
            autocomplete="off">
            <mat-error *ngIf="txtSubject.invalid && txtSubject.touched">{{ getErrorSubject() }}</mat-error>
    </mat-form-field>

    <!-- Message -->
    <mat-form-field>
        <textarea 
            name="message"
            #txtMessage="ngModel"
            ngModel
            matInput 
            placeholder="Message"></textarea>
    </mat-form-field>

    <!-- Services -->
    <mat-form-field>
        <mat-select 
            name="services" 
            #txtService="ngModel"
            ngModel placeholder="Services">
            <mat-option value="tech">Technique</mat-option>
            <mat-option value="sales">Commercial</mat-option>
            <mat-option value="guide">Guide moyenne montagne</mat-option>
        </mat-select>
    </mat-form-field>
    
    <button type="submit" mat-raised-button color="accent" [disabled]="contactForm.invalid" (click)="sendMessage(contactForm)">Valider</button>
</form>


